@import "tailwindcss";


@layer utilities {
  @keyframes floatGlowFade {
    0% {
      transform: translateY(0) scale(0.8);
      opacity: 0;
    }
    20% {
      opacity: 0.3;
    }
    50% {
      transform: translateY(-20px) scale(1.2);
      opacity: 0.5;
    }
    80% {
      opacity: 0.3;
    }
    100% {
      transform: translateY(0) scale(0.8);
      opacity: 0;
    }
  }

  .animate-floatGlowFade {
    animation: floatGlowFade linear infinite;
  }
}

:root {
  --background: radial-gradient(
    circle at 50% 50%,
    #1b1d1f 0%,
    #161718 40%,
    #121314 100%
  );
  --foreground: #ffffff;
}

.dark {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 1s ease, color 1s ease;
}
